* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  align-items: center;
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  grid-template: 20% 1fr 50px / 1fr;
  grid-template-areas:
  "title"
  "main"
  "footer";
  height: 100vh;
  background-color:steelblue;
}
@keyframes title-load {
  0%, 100% { color: white; }
  25% { opacity: 0; color: red; }
  50% { color: blue; }
  75% { opacity: 1; color: green; }
}

:root {
  --check: 3px dashed red;
}

/* || TITLE */
header {
  margin: auto;
}
h1 {
  padding: 0 40px 0 0;
  animation: title-load 3s ease-in-out;
  font-family: 'Tangerine', cursive;
  font-size: 5em;
  grid-area: title;
}

/* || MAIN */
/*all*/
#submitStart, #btnStartOver {
  border: none;
  color: white;
  background-color:darkgreen;
  cursor: pointer;
  text-align: center;
  padding: 10px 20px;
}

/*settings*/
main {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  font-size: 1.5em;
  text-align: center;
}


form {
  width: 90vw;
}
/*problem*/
.expression {
  font-size: 4em;
  text-align: center;
}
#answers {
  width: 100%;
}
#answers ul {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  list-style-type: none;
  margin: auto;
}
#answers ul li {
  background-color: rgb(49, 49, 49);
  color: white;
  border-radius: 50px;
  cursor: pointer;
  margin: 5% 10%;
  padding: 10%;
  text-align: center;
  transition: background-color ease-in-out .5s;
}
button {
  border: 0px;
  border-radius: 4px;
  display: block;
  font-size: 20px;
  margin: 40px auto;
  padding: 8px 12px;
  text-transform: uppercase;
}
#submitStart {
  border-radius: 25px;
  font-size: 1.5em;
}

/* || FOOTER */
footer {
  grid-area: footer;
  font-size: 12px;
  text-align: center;
}

/* || OTHERS */
.hidden {
  display:none;
}

.settings-form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.settings-form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
input, select {
  font-size: 1em;
  text-align: center;
  margin-top: 10px;
  width: 15ch;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#btnStartOver:hover {
  font-size: 1.5em;
  min-width: auto;
}
#btnStartOver {
  border-radius: 50px;
  font-family: 'Russo One', sans-serif;
  font-size: 1em;
  transition: 
    background-color ease-in-out .5s,
    color ease-in-out .5s,
    font-size ease-in-out .5s;
}
  #answers li:active {
    background-color: rgb(0, 134, 11);
    min-width: auto;
}

@media only screen and (min-width: 768px) {

  /* || TITLE */
  h1 {
    font-size: 10em;
  }
  /* || MAIN */
  main {
    font-size: 2em; 
    height: 100%;
    text-align: center;
    width: 100vw;
  }

  #submitStart, #btnStartOver {
    background-color:rgb(73, 88, 116);
    transition: 
    background-color ease-in-out .5s, 
    color ease-in-out .5s, 
    font-size ease-in-out .5s;
  }
  
  #submitStart:hover, #btnStartOver:hover {
    font-size: 1.6em;
    background-color: green;
  }

  #answers li:hover {
    background-color: green;
  }

  .settings-form {
    justify-content: space-evenly;
  }

  ul {
    max-width: 1000px;
  }

  .settings form {
    margin: auto;
  }
}
